<div class="setumei">
<h1>TRIP × HIPPIE</h1>
<h24>自由気ままに旅をして</br>自由気ままに投稿しよう！</h24><!-- </br>旅を愛し平和を愛し自由を愛す</br>そんな人たちのSNS -->
</div>
<div class="japan">
<%= image_tag 'japan.jpg' %>
</div>
<div class="text">
  <p>|みんなの投稿|</p>
</div>
<div class="contents row" >
    <% @posts.each do |post| %>
      <div class="content_post" style="background-image: url(<%= post.image %>);">
        <%= simple_format(post.text) %>
        <span class="name">
             <span>投稿者</span><%= post.user.nickname %>
       </span>
        <%= post.local %>
    <div class="more">
          <span><%= image_tag 'arrow_top.png' %></span>
        <ul class="more_list">
      <li>
        <%= link_to "詳細", "/trippie/#{post.id}", method: :get %>
      </li>
      <% if user_signed_in? && current_user.id == post.user_id %>
        <li>
          <%= link_to '編集', "/trippie/#{post.id}/edit", method: :get %>
        </li>
        <li>
          <%= link_to '削除', "/trippie/#{post.id}", method: :delete %>
        </li>
      <% end %>
        </ul>
      </div>
</div>
    <% end %>
    <%= paginate(@posts) %>
  </div>

  <div class="takuto">
    </br>CreateBy<a href="https://otsuki-takuto.github.io/#container2" target=”_blank”>OtsukiTakuto</a>
  </div>

